*{
	scrollbar-width: none;
	overflow-x: hidden;
	}

body{

	background-color: #E7E4E4; 
}




.barraNav{
    
	width: 800px;
	height: 100px;
	margin-top: -5%;
	margin-left: 60%;
}

.barralogRe{
	width: 800px;
	height: 100px;
	margin-top: -10%;
	margin-left: 83%;
	color: red;
	box-sizing: border-box;
}


.barraitems{


	border: 1px;
	border-color: black;
	width: 100%;
	height: auto;
	background-color: #f3b03c;
	border-style: solid; 
	margin-bottom: 15px;

}

.item1{
 
	margin-left: 12%;
	color: black;
 	
}

.item2{

	margin-left: 20%;
	color: black;
 	
}

.item3{

	margin-left: 20%;
	color: black;
 	
}

footer{
border: 1px;
	border-color: black;
	width: 100%;
	height: auto;
	background-color: #f3b03c;
	border-style: solid; 
	margin-bottom: 15px;


}

.barra1{
margin-left: 5%;
	margin-top:2%;


}

.barra2{
	
margin-left: 20%;
	margin-top: -15%;

}

.barra3{

margin-left: 50%;
	margin-top: -40%;

	
}